//import fonts
@import "../../assets/fonts/fonts.scss";
.container {
  min-width: 100vw;
  min-height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-image: url("../../assets/images/stars.png");
  .background-image {
    width: 100%;
    height: 100%;
    position: absolute;
  }

  h1 {
    color: #fe3b1f;
    font-size: 96px;
    font-family: $rowdiesRegular, "Roboto";
  }
  .container-choose {
    width: auto;
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 70px;
    p {
      color: white;
      font-size: 24px;
      font-family: $monseratiRegular;
      border-bottom: 1px solid white;
    }
    button {
      height: 79px;
      width: 395px;
      background-color: #fe3b1f;
      font-family: $monseratiRegular;
      font-size: 24px;
      color: white;
      border-radius: 50px;
    }
  }
  img {
    width: 409.92px;
    transform: rotate(5deg);
  }
}
