@import "../../assets/fonts/fonts.scss";

.container {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  .title {
    text-align: center;
    width: 70%;
    color: #fe3b1f;
    font-size: 64px;
    font-family: $rowdiesRegular;
  }
  .form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: $monseratiRegular;
    font-size: 14px;
    line-height: 17px;
    color: #000000;

    .form-content {
      width: 70%;
      display: flex;
      flex-direction: column;
      margin-bottom: 50px;
      align-items: left;
      h4 {
        margin-bottom: 15px;
        font-size: 18px;
        line-height: 22px;
      }
      .radio-buttons {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        input {
          margin-right: 15px;
        }
      }
      .date {
        width: 455px;
        height: 54px;
        text-align: center;
      }
    }
  }
}

input[type="date"]:before {
  color: lightgrey;
  content: attr(placeholder) !important;
  margin-right: 0.3em;
  padding: 11px;
}

//errors
.error {
  color: red;
}
