<div class="layout-container">
  <div class="half">
    <router-outlet></router-outlet>
    <div class="slider">
      <img
        class="previous"
        src="../../../assets/images/Previous.svg"
        alt="previous"
      />

      <div
        id="page1"
        #div1
        (click)="page(1, div1)"
        routerLink="/quiz/personal"
        class="circle active"
      ></div>

      <div id="page2" #div2 (click)="page(2, div2)" class="circle light"></div>

      <div #div3 id="page3" (click)="page(3, div3)" class="circle light"></div>

      <div #div4 id="page4" (click)="page(4, div4)" class="circle light"></div>

      <div
        #div5
        id="page5"
        (click)="page(5, div5)"
        routerLink="/quiz/submit"
        class="circle light"
      ></div>

      <img src="../../../assets/images/Next.svg" alt="next" />
    </div>
  </div>
  <div class="half">
    <layout-rightSide></layout-rightSide>
  </div>
</div>
