<div class="layout-container">
  <div class="half">
    <router-outlet></router-outlet>
    <div class="slider">
      <img
        class="previous"
        src="../../../assets/images/Previous.svg"
        alt="previous"
      />

      <div routerLink="/personal" class="circle active"></div>
      <div routerLink="/skills" class="circle"></div>
      <div class="circle"></div>
      <div class="circle"></div>
      <div routerLink="/insights" class="circle active"></div>

      <img src="../../../assets/images/Next.svg" alt="next" />
    </div>
  </div>
  <div class="half">
    <layout-rightSide></layout-rightSide>
  </div>
</div>
