<div class="layout-container">
  <div class="half">
    <router-outlet></router-outlet>
    <div class="slider">
      <img
        class="previous"
        src="../../../assets/images/Previous.svg"
        alt="previous"
      />

      <div
        #div
        (click)="page(div)"
        routerLink="/quiz/personal"
        class="circle active"
      ></div>
      <div
        (click)="page(div)"
        routerLink="/quiz/skills"
        class="circle active"
      ></div>
      <div
        (click)="page(div)"
        routerLink="/quiz/covid"
        class="circle active"
      ></div>
      <div
        (click)="page(div)"
        routerLink="/quiz/insights"
        class="circle active"
      ></div>
      <div
        (click)="page(div)"
        routerLink="/quiz/submit"
        class="circle active"
      ></div>

      <img src="../../../assets/images/Next.svg" alt="next" />
    </div>
  </div>
  <div class="half">
    <layout-rightSide></layout-rightSide>
  </div>
</div>
