.layout-container {
  width: 100%;
  display: flex;
  .half {
    width: 50%;
  }
  .slider {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    .previous {
      margin-right: 15px;
    }
    .circle {
      width: 19px;
      height: 19px;
      border-radius: 50%;
      margin-right: 15px;
      &.active {
        background-color: red;
        opacity: 1;
      }
      &.light {
        background: #fe3b1f;
        opacity: 0.1;
      }
    }
  }
}

