<div class="container">
  <h2 class="title">Hey, Rocketeer, what are your coordinates?</h2>
  <form [formGroup]="formPersonal">
    <div class="input-div">
      <input formControlName="first" type="text" placeholder="First name" />
      <span
        *ngIf="formPersonal.controls['first'].errors?.['required'] && this.formPersonal.controls['first'].touched"
        class="error"
        >*first name is required</span
      >
      <span
        *ngIf="this.formPersonal.controls['first'].errors?.['minlength'] && this.formPersonal.controls['first'].touched"
        class="error"
        >* first name should include 2 or more characters</span
      >
    </div>

    <div class="input-div">
      <input formControlName="last" type="text" placeholder="Last name" />
      <span
        *ngIf="formPersonal.controls['last'].errors?.['required'] && this.formPersonal.controls['last'].touched"
        class="error"
        >*last name is required</span
      >
      <span
        *ngIf="this.formPersonal.controls['last'].errors?.['minlength'] && this.formPersonal.controls['last'].touched"
        class="error"
        >* last name should include 2 or more characters</span
      >
    </div>

    <div class="input-div">
      <input formControlName="email" type="email" placeholder="E-mail" />
      <span
        *ngIf="this.formPersonal.controls['email'].errors?.['required'] && this.formPersonal.controls['email'].touched"
        class="error"
        >*email is required</span
      >
      <span
        *ngIf="this.formPersonal.controls['email'].errors?.['email'] && this.formPersonal.controls['email'].touched"
        class="error"
        >*email is incorrect</span
      >
    </div>

    <div class="input-div">
      <input formControlName="phone" type="tel" placeholder="+995 5" />
      <span
        *ngIf="this.formPersonal.controls['phone'].errors?.['pattern'] && this.formPersonal.controls['phone'].touched"
        class="error"
        >*Phone number is incorrect (starts with +995)</span
      >
    </div>
  </form>

  <button (click)="onSubmit()">Submitttttttt</button>
</div>
