<div class="container">
  <h2 class="title">Tell us about your skills</h2>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form">
    <select formControlName="skill">
      <option *ngFor="let s of skills">
        {{ s.title }}
      </option>
    </select>
    <br />
    <input
      formControlName="yearOfExperience"
      type="number"
      placeholder="Experience Duration in Years"
    />
    <button type="button" (click)="onSubmit()" class="button">
      Add Programming Language
    </button>
  </form>

  <div *ngIf="newSkillsArray.length > 0" class="skills-container">
    <div *ngFor="let newSkill of newSkillsArray" class="new-skills">
      <span>{{ newSkill.skill }}</span>
      <span>Years of Experience: {{ newSkill.yearOfExperience }}</span>
      <span
        ><img
          (click)="remove(newSkill.skill)"
          src="../../assets/images/Remove.svg"
          alt="remove"
      /></span>
    </div>
  </div>
</div>
