@import "../../assets/fonts/fonts.scss";

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: radial-gradient(50% 50% at 50% 50%, #0c0d0e 0%, #151718 73.44%);
  h1 {
    color: #fe3b1f;
    font-family: $rowdiesRegular;
    font-size: 96px;
  }
}
